.pg-property-slot {
  padding: 0 20px;
  background-color: white;
  &__title {
    display: flex;
    height: 45px;
    position: relative;
    cursor: pointer;
    &.active {
      &:after {
        transform: translate(0, -50%) rotate(180deg);
      }
    }
    &__icon {
      @include flexCenter();
      text-align: center;
      font-size: 1rem;
    }
    &__text {
      font-size: 1rem;
      font-weight: normal;
      line-height: 45px;
      margin-left: 8px;
      user-select: none;
    }
    &:after {
      @include psudoClass;
      display: inline-block;
      @include triangle(bottom, #181820, 5px);
      transform: translate(0, -50%);
      position: absolute;
      top: 50%;
      right: 0;
      transition: all 0.3s ease-in-out;
    }
  }
}