@import "normalize.scss";
@import "functions";
@import "variables";
@import "root.scss";
@import "animation.scss";
@import "pattern-grid.scss";
@import "tables.scss";

@import "utilities";
@import "utilities/api";

@import "icon.scss";

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-size: 14px;
  font-family: $font-family-sans-serif;
}

// 工具初始化
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
